# Data clean up from the parquet file

In [1]:
import pandas as pd
import sys  # To exit gracefully on error

In [2]:
# --- Configuration ---
# Set the path to the Parquet file
# Update this path as needed
PARQUET_FILE_PATH = 'authors_raw_data.parquet'

In [3]:
# --- Read the Parquet File ---
print(f"Attempting to read Parquet file: {PARQUET_FILE_PATH}")
try:
    # Use pandas read_parquet function
    # Specify the engine if needed (usually auto-detected, but 'pyarrow' is explicit)
    df = pd.read_parquet(PARQUET_FILE_PATH, engine='pyarrow')
    print("Successfully loaded Parquet file into DataFrame.")

except FileNotFoundError:
    print(f"Error: File not found at '{PARQUET_FILE_PATH}'")
    print("Please ensure the file exists and the path is correct.")
    sys.exit(1)  # Exit the script with an error code
except ImportError:
    print("Error: Missing dependency. Please install pandas and pyarrow:")
    print("pip install pandas pyarrow")
    sys.exit(1)
except Exception as e:
    print(f"An unexpected error occurred while reading the file: {e}")
    sys.exit(1)

Attempting to read Parquet file: authors_raw_data.parquet
Successfully loaded Parquet file into DataFrame.

In [4]:
# --- Inspect the DataFrame ---
print("\n--- DataFrame Inspection ---")
# 1. Dimensions (Rows, Columns)
print(f"\n1. Shape (rows, columns): {df.shape}")

--- DataFrame Inspection ---

1. Shape (rows, columns): (44381, 10)

In [5]:
# 2. First 5 Rows
print("\n2. First 5 rows (head):")
# pd.set_option('display.max_columns', None) # Uncomment to show all columns if wide
print(df.head())
# pd.reset_option('display.max_columns') # Uncomment to reset display option

2. First 5 rows (head):
                                        affiliations  cited_by_count  \
0  [{'institution': {'country_code': 'RU', 'displ...            8358
1  [{'institution': {'country_code': 'RU', 'displ...            2281
2  [{'institution': {'country_code': 'CH', 'displ...            1146
3  [{'institution': {'country_code': 'PL', 'displ...           11041
4  [{'institution': {'country_code': 'DE', 'displ...            9132

  last_known_insitution                                  orcid scopus  \
0                    []  https://orcid.org/0000-0002-2241-9764   None
1                    []  https://orcid.org/0000-0003-2938-7352   None
2                    []  https://orcid.org/0000-0002-5834-4987   None
3                    []                                   None   None
4                    []  https://orcid.org/0000-0002-3319-5655   None

  summary_stats  works_count concepts openalex_id university_key
0            []         1141       []        None         PL_ZUT
1            []          743       []        None         PL_ZUT
2            []          509       []        None         PL_ZUT
3            []          459       []        None         PL_ZUT
4            []          416       []        None         PL_ZUT

In [6]:
# 3. Column Names
print("\n3. Column names:")
print(list(df.columns))

3. Column names:
['affiliations', 'cited_by_count', 'last_known_insitution', 'orcid', 'scopus', 'summary_stats', 'works_count', 'concepts', 'openalex_id', 'university_key']

In [7]:
# 4. Data Types and Non-Null Counts
print("\n4. Data types and non-null info:")
# This is very useful to see if data types were inferred correctly and find missing values
df.info(verbose=True, show_counts=True)

4. Data types and non-null info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44381 entries, 0 to 44380
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   affiliations           44381 non-null  object
 1   cited_by_count         44381 non-null  int64
 2   last_known_insitution  44381 non-null  object
 3   orcid                  15185 non-null  object
 4   scopus                 0 non-null      object
 5   summary_stats          44381 non-null  object
 6   works_count            44381 non-null  int64
 7   concepts               44381 non-null  object
 8   openalex_id            0 non-null      object
 9   university_key         44381 non-null  object
dtypes: int64(2), object(8)
memory usage: 3.4+ MB

In [8]:
# 5. Summary Statistics (for numerical columns)
print("\n5. Summary statistics (numerical columns):")
# Includes count, mean, std, min, max, percentiles
# Use .describe(include='all') to include stats for object/string columns too
print(df.describe())

5. Summary statistics (numerical columns):
       cited_by_count   works_count
count    44381.000000  44381.000000
mean       734.276627     35.071337
std       2943.364003     80.553636
min          0.000000      0.000000
25%          6.000000      2.000000
50%         56.000000      8.000000
75%        399.000000     35.000000
max     126565.000000   3113.000000

In [9]:

# 6. Check for Missing Values (count per column)
print("\n6. Count of missing values per column:")
missing_values = df.isnull().sum()
# Only show columns with missing values
print(missing_values[missing_values > 0])

6. Count of missing values per column:
orcid          29196
scopus         44381
openalex_id    44381
dtype: int64

In [10]:
# 7. Unique Value Counts for a specific column (Example: university_key)
if 'university_key' in df.columns:
    print("\n7. Value counts for 'university_key':")
    print(df['university_key'].value_counts())
else:
    print("\n7. 'university_key' column not found.")

7. Value counts for 'university_key':
university_key
GR_UOP              17085
IT_UNISS             8167
ES_UIB               6150
PL_ZUT               3518
FR_ULHN              2456
FR_UAG               2160
PT_UAC               1986
HR_UNIDU             1208
FO_UF                 632
DE_HOCHSTRALSUND      505
BG_BFU                400
FI_AUAS                61
SL_EMUNI               53
Name: count, dtype: int64

In [11]:
# Display a few random papers with all columns displayed
print("\nDisplaying a few random authors with all columns:")
random_authors = df.sample(3)
print(random_authors)

Displaying a few random authors with all columns:
                                            affiliations  cited_by_count  \
35501  [{'institution': {'country_code': 'IT', 'displ...             176
43498  [{'institution': {'country_code': 'FO', 'displ...              75
37714  [{'institution': {'country_code': 'ES', 'displ...             156

      last_known_insitution                                  orcid scopus  \
35501                    []  https://orcid.org/0000-0002-6889-4106   None
43498                    []  https://orcid.org/0000-0002-4663-6210   None
37714                    []  https://orcid.org/0000-0003-4153-3762   None

      summary_stats  works_count concepts openalex_id university_key
35501            []           81       []        None         ES_UIB
43498            []            7       []        None          FO_UF
37714            []           10       []        None         ES_UIB

---

In [12]:
df.sample(1).to_csv('example_row.txt', sep='\t', index=False)

## Data preparation

Save back to a parquet file

In [13]:
parquet_file_path = 'authors_clean_data.parquet'

try:
    # Save the DataFrame to a Parquet file
    # `index=False` prevents writing the DataFrame index as a column
    df.to_parquet(parquet_file_path, index=False, engine='pyarrow')
    print(
        f"Successfully saved data for {len(df)} papers to {parquet_file_path}")

except Exception as e:
    print(f"Error saving data to Parquet: {e}")

Successfully saved data for 44381 papers to authors_clean_data.parquet